
h1.site-title {
  font-weight: 500;
}
.hero-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Work Sans', sans-serif;
}
.page__body {
 font-family: 'Work Sans', sans-serif;
}
/* Override oval shape globally */
.author__avatar img {
  border-radius: 0 !important;
  width: 230px !important;
  height: auto !important;
  box-shadow: none !important;
}

.page__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5em;  /* optional: match home hero-title size */
  margin-bottom: 0.5em;
}
.page__footer {
  padding: 0px 0;
  font-size: 0.75em;
  background-color: #0066cc; /* light grey background */
  color: #444;
  border-top: 1px solid #ddd;
}

.page__footer a {
  color: #000;
  text-decoration: none;
}

.page__footer a:hover {
  text-decoration: underline;
  color: #007bff;
}


