---
layout: archive
---

{{ content }}

<div class="hero">
  <h1 class="hero-title">Akash Sudhanshu</h1>
  <div class="hero-subtitle">
    <p>Mathematics Master's student, Indian Institute of Science (IISc), Bangalore</p>
    <p>Hi there! I’m Akash, a Master's student majoring in Mathematics at IISc, Bangalore, working in low-dimensional topology and geometry. I am being advised by <a href="https://sites.google.com/view/subhojoy/home" class="subhojoy-link">Prof. Subhojoy Gupta</a>.</p>
    <p>My research interest lies in Teichmüller spaces, thier geometry and Riemann surfaces. During my Bachelor's thesis, I worked on the Bounded Distortion Conjecture proposed by R.C. Penner. I am currently learning about various aspects of classical and modern Teichmüller theory. </p>
  </div>
  <div class="education-block">
    <p>🎓 <strong>BSc. (Research), Major in Mathematics</strong><br>
       Indian Institute of Science, Bangalore</p>
  </div>
</div>

<!-- FontAwesome Icon Kit -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
